<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ckc.cws.mapper.UsersMapper" >
  <resultMap id="BaseResultMap" type="com.ckc.cws.bean.Users" >
    <id column="U_ID" property="uId" jdbcType="INTEGER" />
    <result column="U_NAME" property="uName" jdbcType="VARCHAR" />
    <result column="PWD" property="pwd" jdbcType="VARCHAR" />
    <result column="PHONE" property="phone" jdbcType="VARCHAR" />
    <result column="CITY" property="city" jdbcType="VARCHAR" />
    <result column="PIC" property="pic" jdbcType="VARCHAR" />
    <result column="WEIXIN_ID" property="weixinId" jdbcType="VARCHAR" />
    <result column="WEIBO_ID" property="weiboId" jdbcType="VARCHAR" />
    <result column="ZHIFUBAO_ID" property="zhifubaoId" jdbcType="VARCHAR" />
    <result column="CAR_ID" property="carId" jdbcType="VARCHAR" />
    <result column="LEVEL" property="level" jdbcType="TINYINT" />
    <result column="REG_TIME" property="regTime" jdbcType="TIMESTAMP" />
    <result column="LASTLOGIN_TIME" property="lastloginTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
	U_ID, U_NAME, PWD, PHONE, CITY, PIC, WEIXIN_ID, WEIBO_ID, ZHIFUBAO_ID, CAR_ID, LEVEL,REG_TIME, LASTLOGIN_TIME 
  </sql>
  
  <sql id="Base_Column_List_WithOutPwd" >
	U_ID, U_NAME, PHONE, CITY, PIC, WEIXIN_ID, WEIBO_ID, ZHIFUBAO_ID, CAR_ID, LEVEL,REG_TIME, LASTLOGIN_TIME 
  </sql>
  <select id="selectUidByPhone" resultType="Integer" parameterType="java.lang.String" >
    select U_ID
    from users
    where PHONE = #{phone}
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from users
    where U_ID = #{uId}
  </select>
  <select id="selectAll" resultType="Users">
    select <include refid="Base_Column_List_WithOutPwd" /> from users
  </select>
  <select id="selectByPhone" resultType="Integer" parameterType="java.lang.String" >
    select IFNULL(U_ID,0) 
    from users 
    where PHONE = #{phone,jdbcType=VARCHAR}
  </select>
  <select id="selectByPhoneAndPwd" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select <include refid="Base_Column_List_WithOutPwd" /> from users where PHONE = #{phone,jdbcType=VARCHAR} and PWD = #{pwd}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from users
    where U_ID = #{uId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ckc.cws.bean.Users" >
    insert into users (U_ID, U_NAME, PWD, 
      PHONE, CITY, PIC, WEIXIN_ID, 
      WEIBO_ID, ZHIFUBAO_ID, CAR_ID, 
      LEVEL, REG_TIME, LASTLOGIN_TIME
      )
    values (#{uId,jdbcType=INTEGER}, #{uName,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{pic,jdbcType=VARCHAR}, #{weixinId,jdbcType=VARCHAR}, 
      #{weiboId,jdbcType=VARCHAR}, #{zhifubaoId,jdbcType=VARCHAR}, #{carId,jdbcType=VARCHAR}, 
      #{level,jdbcType=TINYINT}, #{regTime,jdbcType=TIMESTAMP}, #{lastloginTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ckc.cws.bean.Users" >
    insert into users
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uId != null" >
        U_ID,
      </if>
      <if test="uName != null" >
        U_NAME,
      </if>
      <if test="pwd != null" >
        PWD,
      </if>
      <if test="phone != null" >
        PHONE,
      </if>
      <if test="city != null" >
        CITY,
      </if>
      <if test="pic != null" >
        PIC,
      </if>
      <if test="weixinId != null" >
        WEIXIN_ID,
      </if>
      <if test="weiboId != null" >
        WEIBO_ID,
      </if>
      <if test="zhifubaoId != null" >
        ZHIFUBAO_ID,
      </if>
      <if test="carId != null" >
        CAR_ID,
      </if>
      <if test="level != null" >
        LEVEL,
      </if>
      <if test="regTime != null" >
        REG_TIME,
      </if>
      <if test="lastloginTime != null" >
        LASTLOGIN_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uId != null" >
        #{uId,jdbcType=INTEGER},
      </if>
      <if test="uName != null" >
        #{uName,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null" >
        #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="pic != null" >
        #{pic,jdbcType=VARCHAR},
      </if>
      <if test="weixinId != null" >
        #{weixinId,jdbcType=VARCHAR},
      </if>
      <if test="weiboId != null" >
        #{weiboId,jdbcType=VARCHAR},
      </if>
      <if test="zhifubaoId != null" >
        #{zhifubaoId,jdbcType=VARCHAR},
      </if>
      <if test="carId != null" >
        #{carId,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=TINYINT},
      </if>
      <if test="regTime != null" >
        #{regTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastloginTime != null" >
        #{lastloginTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ckc.cws.bean.Users" >
    update users
    <set>
      <if test="uName != null" >
        U_NAME = #{uName,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null" >
        PWD = #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        CITY = #{city,jdbcType=VARCHAR},
      </if>
      <if test="pic != null" >
        PIC = #{pic,jdbcType=VARCHAR},
      </if>
      <if test="weixinId != null" >
        WEIXIN_ID = #{weixinId,jdbcType=VARCHAR},
      </if>
      <if test="weiboId != null" >
        WEIBO_ID = #{weiboId,jdbcType=VARCHAR},
      </if>
      <if test="zhifubaoId != null" >
        ZHIFUBAO_ID = #{zhifubaoId,jdbcType=VARCHAR},
      </if>
      <if test="carId != null" >
        CAR_ID = #{carId,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        LEVEL = #{level,jdbcType=TINYINT},
      </if>
      <if test="regTime != null" >
        REG_TIME = #{regTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastloginTime != null" >
        LASTLOGIN_TIME = #{lastloginTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where U_ID = #{uId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ckc.cws.bean.Users" >
    update users
    set U_NAME = #{uName,jdbcType=VARCHAR},
      PWD = #{pwd,jdbcType=VARCHAR},
      PHONE = #{phone,jdbcType=VARCHAR},
      CITY = #{city,jdbcType=VARCHAR},
      PIC = #{pic,jdbcType=VARCHAR},
      WEIXIN_ID = #{weixinId,jdbcType=VARCHAR},
      WEIBO_ID = #{weiboId,jdbcType=VARCHAR},
      ZHIFUBAO_ID = #{zhifubaoId,jdbcType=VARCHAR},
      CAR_ID = #{carId,jdbcType=VARCHAR},
      LEVEL = #{level,jdbcType=TINYINT},
      REG_TIME = #{regTime,jdbcType=TIMESTAMP},
      LASTLOGIN_TIME = #{lastloginTime,jdbcType=TIMESTAMP}
    where U_ID = #{uId,jdbcType=INTEGER}
  </update>
</mapper>